mat-drawer-container {
    height: 90%;
}

mat-drawer {
    width: 20%;
    height: 100%;
    padding: 20px;
}

mat-drawer-content {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-slide-toggle {
    margin-left: 30%;
}

#btnDismis {
    color: gray;
    font-size: large;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

#pName {
    margin-top: 10%;
    text-align: center;
    font-size: large;
    font: bold;
    color: black;
}

#pDepartment {
    text-align: center;
    font-size: small;
    color: grey;
}

#pTitle {
    font-size: small;
    color: grey;
}

#pText {
    font-size: small;
    color: black;
}

#pPrimaryPhone{
    float: left;
    margin-right: 20%;
    font-size: small;
    color: black;
}