USE [master]
GO
/****** Object:  Database [funcionario]    Script Date: 24/12/2020 13:36:29 ******/
CREATE DATABASE [funcionario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'funcionario', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\funcionario.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'funcionario_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\funcionario_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [funcionario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [funcionario]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24/12/2020 13:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_DEPARTAMENTO]    Script Date: 24/12/2020 13:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_DEPARTAMENTO](
	[ID_DEPARTAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[NM_DEPARTAMENTO] [nvarchar](50) NOT NULL,
	[FL_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_TB_DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID_DEPARTAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_FUNCIONARIO]    Script Date: 24/12/2020 13:36:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_FUNCIONARIO](
	[ID_FUNCIONARIO] [int] IDENTITY(1,1) NOT NULL,
	[NM_FUNCIONARIO] [nvarchar](100) NOT NULL,
	[DS_EMAIL] [nvarchar](50) NOT NULL,
	[ID_DEPARTAMENTO] [int] NOT NULL,
	[DT_NASCIMENTO] [datetime2](7) NOT NULL,
	[DS_TELEFONEPRIMARIO] [nvarchar](50) NULL,
	[DS_TELEFONESECUNDARIO] [nvarchar](50) NULL,
	[DS_LOGIN] [nvarchar](50) NULL,
	[DS_SENHA] [nvarchar](50) NULL,
	[FL_ACESSO] [bit] NOT NULL,
	[FL_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_TB_FUNCIONARIO] PRIMARY KEY CLUSTERED 
(
	[ID_FUNCIONARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200910222004_InitialCreate', N'3.1.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200914020025_EmployeeMap Changed', N'3.1.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200917182442_EmployeeMap Changed two', N'3.1.8')
SET IDENTITY_INSERT [dbo].[TB_DEPARTAMENTO] ON 

INSERT [dbo].[TB_DEPARTAMENTO] ([ID_DEPARTAMENTO], [NM_DEPARTAMENTO], [FL_ATIVO]) VALUES (1, N'Desenvolvimento', 1)
INSERT [dbo].[TB_DEPARTAMENTO] ([ID_DEPARTAMENTO], [NM_DEPARTAMENTO], [FL_ATIVO]) VALUES (2, N'Customer Success', 1)
INSERT [dbo].[TB_DEPARTAMENTO] ([ID_DEPARTAMENTO], [NM_DEPARTAMENTO], [FL_ATIVO]) VALUES (3, N'Marketing', 1)
SET IDENTITY_INSERT [dbo].[TB_DEPARTAMENTO] OFF
SET IDENTITY_INSERT [dbo].[TB_FUNCIONARIO] ON 

INSERT [dbo].[TB_FUNCIONARIO] ([ID_FUNCIONARIO], [NM_FUNCIONARIO], [DS_EMAIL], [ID_DEPARTAMENTO], [DT_NASCIMENTO], [DS_TELEFONEPRIMARIO], [DS_TELEFONESECUNDARIO], [DS_LOGIN], [DS_SENHA], [FL_ACESSO], [FL_ATIVO]) VALUES (31, N'João Antônio de Moraes', N'joao@email.com', 2, CAST(N'1982-06-02T00:00:00.0000000' AS DateTime2), N'3232255664', N'32988652331', N'joao', N'123456', 1, 0)
INSERT [dbo].[TB_FUNCIONARIO] ([ID_FUNCIONARIO], [NM_FUNCIONARIO], [DS_EMAIL], [ID_DEPARTAMENTO], [DT_NASCIMENTO], [DS_TELEFONEPRIMARIO], [DS_TELEFONESECUNDARIO], [DS_LOGIN], [DS_SENHA], [FL_ACESSO], [FL_ATIVO]) VALUES (32, N'Maria da Fonseca Nunes', N'maria@email.com', 3, CAST(N'1995-02-04T00:00:00.0000000' AS DateTime2), N'3232264221', N'32987541218', N'maria', N'123456', 0, 1)
SET IDENTITY_INSERT [dbo].[TB_FUNCIONARIO] OFF
/****** Object:  Index [IX_TB_FUNCIONARIO_ID_DEPARTAMENTO]    Script Date: 24/12/2020 13:36:29 ******/
CREATE NONCLUSTERED INDEX [IX_TB_FUNCIONARIO_ID_DEPARTAMENTO] ON [dbo].[TB_FUNCIONARIO]
(
	[ID_DEPARTAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_DEPARTAMENTO] ADD  DEFAULT (CONVERT([bit],(1))) FOR [FL_ATIVO]
GO
ALTER TABLE [dbo].[TB_FUNCIONARIO] ADD  DEFAULT (CONVERT([bit],(0))) FOR [FL_ACESSO]
GO
ALTER TABLE [dbo].[TB_FUNCIONARIO] ADD  DEFAULT (CONVERT([bit],(0))) FOR [FL_ATIVO]
GO
ALTER TABLE [dbo].[TB_FUNCIONARIO]  WITH CHECK ADD  CONSTRAINT [FK_TB_FUNCIONARIO_TB_DEPARTAMENTO_ID_DEPARTAMENTO] FOREIGN KEY([ID_DEPARTAMENTO])
REFERENCES [dbo].[TB_DEPARTAMENTO] ([ID_DEPARTAMENTO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TB_FUNCIONARIO] CHECK CONSTRAINT [FK_TB_FUNCIONARIO_TB_DEPARTAMENTO_ID_DEPARTAMENTO]
GO
USE [master]
GO
