<mat-toolbar>
    <button mat-button><img src="../../../../assets/logo_iclips.png" /></button>
    <button mat-button>
        <img src="../../../../assets/check-circle.svg" />Meus Jobs
    </button>
    <button mat-button>
        <img src="../../../../assets/clipboard.svg" />Projetos
    </button>
    <button mat-button>
        <img src="../../../../assets/file.svg" />Contratos
    </button>
    <button mat-button>
        <img src="../../../../assets/dollar-sign.svg" />Financeiro
    </button>
    <button mat-button>
        <img src="../../../../assets/pie-chart.svg" />B.I.
    </button>
    <span class="example-spacer"></span>
    <button mat-mini-fab color="accent">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon><img src="../../../../assets/clock.svg" /></mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon matBadge="3" matBadgePosition="after" matBadgeColor="warn">
            <img src="../../../../assets/bell.svg" />
        </mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon><img src="../../../../assets/settings.svg" /></mat-icon>
    </button>
</mat-toolbar>